{{ form_start(form) }}
{{ form_errors(form) }}


<div class="form-group">

    <div class="col-lg-5">
        <input type="submit" id="valider" class="btn btn-primary">
    </div>
</div>

{{ form_end(form) }}